@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
}
* {
  transition: background-color 0.25s ease, color 0.25s ease, border-color 0.25s ease;
}
